@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

$fzHeader: 64px;
$fzWords: 40px;

$widthBox: 371px;
$btnRadius: 25px;
$inputRadius: 15px;
$padding: 30px;
$fzBtn: 35px;

$blue: #378ff5;
$white: white;
$btnColor: #05782c;

$Inter: "Inter", sans-serif;

body {
	background-color: #1e1e1e;
	color: $white;
	margin: auto;
}

header {
	font-size: $fzHeader;
	font-family: $Inter;
	text-align: center;
	margin-top: 74px;
}
h1 {
	font-size: 40px;
}
main {
	margin-top: 13%;
	font-family: $Inter;

	.title {
		font-size: $fzWords;
		text-align: center;
		// margin-bottom: 3%;
	}
	.list {
		display: flex;
		margin: auto;
		width: 50%;
		justify-content: space-between;
		.list__item {
			margin-top: 6%;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: $widthBox;
			font-size: $fzWords;
			padding: $padding;
			border-radius: $btnRadius;
			color: $white;
			background-color: $blue;
			font-family: $Inter;
		}
	}
}

.content {
	width: 45%;
	margin: auto;
	font-family: $Inter;
	.content__widget {
		margin-top: 12%;
		font-size: $fzBtn;
		display: grid;
		grid-template-columns: 1fr 350px;
		grid-template-rows: repeat(5, 1fr);
		grid-column-gap: 20px;
		grid-row-gap: 35px;

		input {
			border-radius: $inputRadius;
		}
	}
	.btn__submit {
		display: flex;
		margin: auto;
		width: 784px;
		justify-content: center;
		justify-self: stretch;
		border-radius: $btnRadius;
		margin-top: 15%;
		color: $white;
		font-family: $Inter;
		padding: 20px;
		background-color: $btnColor;
		font-size: $fzBtn;
	}
}

.test {
	width: 67%;
	header {
		display: flex;
		justify-content: space-between;
		h1 {
			font-size: 40px;
			margin-top: 2.5%;
		}
		p {
			font-size: 80px;
		}
		span {
			color: red;
		}
	}
	.main__test{
		margin-top: 7%;
	}
	.p__test-text {
		font-family: Arial, Helvetica, sans-serif;
	}
	.test-title {
		text-align: center;
		font-size: 32px;
		padding-bottom: 5%;
	}
	.test-term {
		display: grid;
		font-style: arial;
		grid-template-columns: 4fr repeat(2, 1fr);
		grid-template-rows: repeat(4, 1fr);
		grid-column-gap: 25px;
		grid-row-gap: 50px;
		button {
			border-radius: 15px;
			height: 63px;
			width: 205px;
			font-family: $Inter;
			font-size: 20px;
		}
	}
	.btn__close-task {
		display: flex;
		margin-left: auto;
		width: 434px;
		height: 81px;
		justify-content: center;
		justify-self: stretch;
		border-radius: $btnRadius;
		margin-top: 5%;
		margin-bottom: 5%;
		color: $white;
		font-family: $Inter;
		padding: 20px;
		background-color: $btnColor;
		font-size: $fzBtn;
	}
}



.text {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 32px;
	line-height: 37px;
}
ol {
	line-height: 37px;
	width: 1215px;
	margin-left: 2.2%;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 32px;
}


.container {
	display: flex;
	justify-content: space-between;
	margin-top: 5%;
	.container__button {
		.container__box {
			border-radius: 15px;
			padding: 27px 47px;
			font-size: $fzWords;
			background-color: white;
			color: black;
			text-align: center;
			font-family: $Inter;
			width: 510px;
		}
		.container__inputs {
			display: flex;
			justify-content: space-between;
			input {
				font-family: $Inter;
				font-size: $fzWords;
				text-align: center;
				margin-top: 5%;
				width: 100px;
				height: 100px;
				border-radius: 15px;
			}
		}
	}
}


.wrap__btn {
	display: flex;
	justify-content: end;
	.btn__complete {
		margin-top: 5%;
		margin-bottom: 2%;
		min-width: 439px;
		border-radius: $btnRadius;
		padding: 20px 47px;
		font-family: $Inter;
		font-size: 35px;
		color: $white;
		background-color: #05782c;
	}
	
}